<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    {{template "bootstrap" .}}
    <script src="/public/js/test.js"></script>
    <title>Todo List</title>
</head>
<body style="height: 100vh;">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex w-100 mt-3 mb-3">
            <a class="btn btn-primary" href="/">
                Voltar
            </a>
        </div>
        <div class="flex-column w-100 h-100 justify-content-center align-items-center">
            <h1>Nova Tarefa</h1>
            <form action="/tasks" method="POST">
                <input type="text" id="task" name="task">
            </form>
        </div>
    </div>
</body>
</html>